a{
    color: skyblue !important;
}

.heading{
 text-align: center;
}

.margin-bottom{
    margin-bottom: 15px;
}

.question-list{
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
}

.question-list a{
font-size: 18px;
text-decoration: none;
color: rgb(27, 140, 185) !important;
}
